body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.added {
  border-color: green;
  border-width: 5px;
  border-style: solid;
  background-color: grey;
  font-size: large;
  font-weight: bolder;
}

.deleted{
  border-color:red;
  border-width: 5px;
  border-style: solid;
  background-color: grey;
  font-size: large;
  font-weight: bolder;
}